[color]
    diff = auto
    status = auto
    branch = auto
    ui = true
[format]
    pretty = "Commit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"
[merge]
    tool = vim_mergetool
    conflictstyle = diff3
[mergetool]
    keepBackup = false
    prompt = false
    path = nvim
[mergetool "vim_mergetool"]
    cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool]
    prompt = false
[user]
	name = Arlo Purcell
	email = arlo.purcell@iterativescopes.com
[alias]
    co = commit -am
    lol = log --graph --pretty=format:'%Cblue%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' 
    lal = log --graph --pretty=format:'%Cblue%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --all
[core]
    excludesfile = ~/.gitignore_global
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Solarized (light)
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[push]
    default = current
[color "decorate"]
    remoteBranch = red
    tag = magenta
    stash = yellow
    HEAD = yellow
    branch = cyan
[color "branch"]
    current = yellow
    local = green
[help]
    autocorrect = 1
[rerere]
    enabled = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[init]
	  defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[pull]
	rebase = false
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
